{% extends 'base.html' %}

{% block content %}
<h1>Create Recipe</h1>
<form method="POST" action="{{ url_for('create_recipe') }}">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name(required=True) }}
    <br>
    {{ form.instructions.label }} {{ form.instructions(required=True) }}
    <br>
    {{ form.ingredients.label }} {{ form.ingredients(required=True) }}
    <br>
    {{ form.new_ingredient_name.label }} {{ form.new_ingredient_name() }}
    <br>
    {{ form.new_ingredient_size.label }} {{ form.new_ingredient_size() }}
    <br>
    <button type="submit">Create Recipe</button>
</form>
<a href="{{ url_for('create_ingredient') }}">Create a new ingredient</a>
{% endblock %}