{% extends 'base.html' %}

{% block content %}
  <h1>Edit Recipe</h1>
  <form method="POST" action="{{ url_for('update_recipe', recipe_id=recipe.id) }}">
    {{ form.csrf_token }}
    <label for="name">Name:</label>
    {{ form.name(required=True) }}
    <br>
    <label for="instructions">Instructions:</label>
    {{ form.instructions(required=True) }}
    <br>
    <label for="ingredients">Ingredients:</label>
    <ul>
      {% for recipe_ingredient in recipe.recipe_ingredients %}
        <li>
          {{ form.recipe_ingredients[loop.index0].id() }}
          {{ form.recipe_ingredients[loop.index0].ingredient_id(required=True) }}
          {{ form.recipe_ingredients[loop.index0].size(required=True) }}
        </li>
      {% endfor %}
      <li>
        {{ form.new_recipe_ingredients[0].ingredient_id() }}
        {{ form.new_recipe_ingredients[0].size() }}
      </li>
    </ul>
    <button type="button" id="add-ingredient">Add Ingredient</button>
    <br><br>
    {{ form.submit() }}
  </form>
{% endblock %}

{% block scripts %}
  <script>
    let count = {{ recipe.recipe_ingredients|length }};

    document.querySelector('#add-ingredient').addEventListener('click', function() {
      const ul = document.querySelector('ul');
      const li = document.createElement('li');
      li.innerHTML = `
        {{ form.new_recipe_ingredients[count].ingredient_id() }}
        {{ form.new_recipe_ingredients[count].size() }}
      `;
      ul.appendChild(li);
      count++;
    });
  </script>
{% endblock %}
